@import 'mirotone/dist/styles.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.button {
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}